.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../imagens/wall.png);
}
/* na proxima atualização essa sera a style dos botoes!
#on {
    
    width: 40px;
    height: 30px;
    background-image: url(../imagens/audio\ on.png);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
#off {
    
    width: 40px;
    height: 30px;
    background-image: url(../imagens/audio\ off.png);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
*/
.container .titulo-menu h2 {
margin-top: 10px;
}
.container .titulo-menu {
    color: #ff0808;
    margin-top: 10px;
}

.container .menu h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container .menu {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid #ffd700;
}

.container .menu-live{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .panel {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .panel .square {
    height: 150px;
    width: 150px;
    background-image: url(../imagens/janela-sem-ralph.png);
    background-size: contain;
    align-items: center;
}

.container .panel .enemy {
    background-image: url(../imagens/janela-ralph.png);
}